main{
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Noto Sans Sogdian', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Oxanium', sans-serif;
    font-family: 'Roboto', sans-serif;
}